/*Fichier CSS
 Interface : Inscription
 FXML : VueInscriptionFinP4 */


#titreInscription {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}


#copyrightMention, #boutonFilConnexion, #boutonFilArianeEmploye{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
    -fx-text-fill: #424242;
}

#boutonRetourConnexion, #description {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 14px;

}

#boutonRetourConnexion{
    -fx-background-color:#F44322 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius:  15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );

}

#boutonRetourConnexion:hover {
    -fx-background-color: #FF0000;

}

#boutonFilConnexion:hover, #boutonFilArianeEmploye:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;

}




