/*Fichier CSS
 Interface : Confirmation d'envoi d'un email de récupération
 FXML : VueMDPOublieEmailValidePetite*/

*  {
    -fx-font-family: 'Lexend Light';
}

#titreMDPOUblie{
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


#copyrightMention, #filConnexion, #filMDPOublie{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonRetourEntreeMDPOublie, #boutonRetourConnexion, #descriptionMDPOublie, #messageSoutienTechnique, #mailSoutienTechnique {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 10px;
}


#mailSoutienTechnique{
    -fx-text-fill: #0118e1;
}

#mailSoutienTechnique:hover{
    -fx-text-fill: #22636c;
}

#boutonRetourConnexion, #boutonRetourEntreeMDPOublie{
    -fx-background-color:#F44322 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}


#boutonRetourConnexion:hover, #boutonRetourEntreeMDPOublie:hover{
    -fx-background-color: #FF0000;

}

#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}



#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filConfirmationMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}