/*Fichier CSS
 Interface : Connexion
 FXML : VueConnexionTailleMoyenne */


#titreInscription, #sousTitre {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

#copyrightMention, #buttonFilConnexion, #boutonFilArianeEmploye{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
    -fx-text-fill: #424242;
}

#boutonSuivant,  #boutonReinitialiser, #boutonRetourPagePrecedente, #entree1, #entree2, #entree3, #tableauCuisineFavorite {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 14px;
}

#entree1, #entree2, #entree3, #tableauCuisineFavorite{
    -fx-background-radius:  15px;
    -fx-border-radius: 15px;
}

#boutonSuivant,  #boutonReinitialiser, #boutonRetourPagePrecedente{
    -fx-background-color:#F44322 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius:  15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}


#boutonSuivant:hover,  #boutonReinitialiser:hover, #boutonRetourPagePrecedente:hover{
    -fx-background-color: #FF0000;
}

#buttonFilConnexion:hover, #boutonFilArianeEmploye:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;

}




