/*Fichier CSS
 Interface : Mot de passe oublié
 FXML : VueMDPOublieMoyenne */

*  {
    -fx-font-family: 'Lexend Light';
}

#titreMDPOUblie {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}


#copyrightMention, #filConnexion, #filMDPOublie{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonAnnulerMDP,  #boutonEnvoyerMailMDP, #champMailMDPOublie, #descriptionMDPOublie {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 14px;
}

#boutonEnvoyerMailMDP, #boutonAnnulerMDP {
    -fx-background-color:#F44322 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 15px;
}

#boutonEnvoyerMailMDP:hover, #boutonAnnulerMDP:hover{
    -fx-background-color: #FF0000;
}


#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}


