/*Fichier CSS
 Interface : Mot de passe oublié
 FXML : VueMDPOublieMoyenne */

*  {
    -fx-font-family: 'Lexend Light';
}

#titreMDPOUblie {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}


#copyrightMention, #filConnexion, #filMDPOublie{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonAnnulerMDP,  #boutonEnvoyerMailMDP, #champMailMDPOublie, #descriptionMDPOublie {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 14px;
}

#boutonAnnulerMDP{
    -fx-background-color:  #94dae5;
    -fx-font-weight: bold;
}

#boutonEnvoyerMailMDP{
    -fx-background-color:#424242 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#boutonEnvoyerMailMDP:hover{
    -fx-background-color: #a8a8a8;
}

#boutonAnnulerMDP:hover{
    -fx-background-color: #b7f1f1;
}

#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}