/*Fichier CSS
 Interface : Confirmation d'envoi d'un email de récupération
 FXML : VueMDPOublieEmailValidePetite*/

*  {
    -fx-font-family: 'Lexend Light';
}

#titreMDPOUblie{
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


#copyrightMention, #filConnexion, #filMDPOublie{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonAnnulerMDP,  #boutonEnvoyerMailMDP, #champMailMDPOublie, #descriptionMDPOublie {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 10px;
}

#boutonAnnulerMDP{
    -fx-background-color:  #FFD324;
    -fx-font-weight: bold;
    -fx-text-fill: #424242;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}


#boutonEnvoyerMailMDP{
    -fx-background-color:#F44322 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 15px;
}

#boutonEnvoyerMailMDP:hover{
    -fx-background-color: #FF0000;
}

#boutonAnnulerMDP:hover{
    -fx-background-color: #FFE50D;
}



#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

#filConfirmationMDPOublie:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}