/*Fichier CSS
 Interface : Inscription
 FXML : Tous les fichiers FXML du package proprietaire*/

.boutonMonCommerce {
    -fx-text-fill: #424242;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Lexend Deca Light";
    -fx-font-size: 14px;
}

/*Boutons de la barre latérale*/
.boutonHover, .boutonMenuHaut {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Lexend Deca Light";
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #f44322;

}


.boutonHover:hover, .buttonMenu:hover, .boutonMenuHaut:hover {
    -fx-background-color: #FFD324;
    -fx-text-fill: #424242;

}



/*3 boutons du haut*/
.boutonMenuHaut {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );

}

/*Boutons de : section Ajout Item, section ApercuMenu*/
.boutonAction {
    -fx-text-fill: #424242;
    -fx-font-family: "Lexend Deca Light";
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-color: #FFD324;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.boutonAction:hover {
    -fx-background-color: #FFE50D;
}

#copyrightMention, #boutonFilArianeEmploye, #boutonFilConnexion {
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
    -fx-text-fill: #424242;
}

#boutonFilArianeEmploye:hover, #boutonFilConnexion :hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}

.list-cell {
    -fx-background-color: #ffff; /* Couleur de fond */
    -fx-padding: 5px; /* Espacement interne */
    -fx-border-color: black; /* Couleur du contour */
    -fx-border-width: 1 1 0 1; /* Largeur du contour (haut, droite, bas, gauche) */
    -fx-border-style: solid; /* Style du contour */
}

.list-cell:hover {
    -fx-background-color: #d0d0d0; /* Couleur de fond au survol */
}

.list-cell:selected {
    -fx-background-color: #a0a0a0; /* Couleur de fond lorsque sélectionné */
    -fx-text-fill: white; /* Couleur du texte lorsque sélectionné */
}

.choice-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

#titre1, #titre2 {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 20px;
    -fx-text-fill: #424242;
}


/*=======================================================
Pop up de demande d'action sur les items d'un menu
=================================================*/

.fondPopUp{
    -fx-background-color: #FFFFFF;
}

.boutonPopUp {
    -fx-background-color: #FFD324; /* Couleur des boutons */
}

/* Au survol des boutons */
.boutonPopUp:hover {
    -fx-background-color: #FFE50D; /* Couleur au survol */
}