


.buttonMonCommerce {
    -fx-text-fill: #424242;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Lexend Deca Light";
    -fx-font-size: 14px;
}

.boutonHover, .boutonMenuHaut {
    -fx-text-fill: #424242;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Lexend Deca Light";
    -fx-font-size: 14px;
    -fx-background-color: #94DAE5;
}

.buttonAction {
    -fx-text-fill: #424242;
    -fx-font-family: "Lexend Deca Light";
    -fx-cursor: hand;
    -fx-font-size: 12px;
}

#copyrightMention, #boutonFilArianeEmploye, #buttonfilConnexion {
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
    -fx-text-fill: #424242;
}

#boutonFilArianeEmploye:hover, #buttonfilConnexion :hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}


/*.buttonMenu:hover, .buttonAction:hover,
.buttonMenu:focused, .boutonHover:hover
{
    -fx-background-color: #3DBDD2;
}*/

.list-cell {
    -fx-background-color: #ffff; /* Couleur de fond */
    -fx-padding: 5px; /* Espacement interne */
    -fx-border-color: black; /* Couleur du contour */
    -fx-border-width: 1 1 0 1; /* Largeur du contour (haut, droite, bas, gauche) */
    -fx-border-style: solid; /* Style du contour */
}

.list-cell:hover {
    -fx-background-color: #d0d0d0; /* Couleur de fond au survol */
}

.list-cell:selected {
    -fx-background-color: #a0a0a0; /* Couleur de fond lorsque sélectionné */
    -fx-text-fill: white; /* Couleur du texte lorsque sélectionné */
}

.choice-box {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
    -fx-border-color: gray; /* Couleur du contour */
    -fx-border-radius: 5px; /* Rayon des coins */
    -fx-background-radius: 5px; /* Rayon des coins pour le fond */
    -fx-cursor: hand;
}

#titre1, #titre2 {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 20px;
    -fx-font-style: bold;
}

.Button, .TextField, .ChoiceBox {
    -fx-border-radius : 5px;
}