/*Fichier CSS
 Interface : Connexion
 FXML : VueConnexionTaillePetite */

*  {
    -fx-font-family: 'Lexend Light';
}

#titreConnexion {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}


#copyrightMention, #filConnexion{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonSeConnecter,  #boutonAnnulerConnexion, #entreeCourriel, #motDePasseCache, #motDePasseRevele, #boutonInscription, #boutonMotDePasseOublie, #boutonAccueil,#texteGeneral1, #texteGeneral2  {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 10px;
}

#boutonSeConnecter,  #boutonAnnulerConnexion{
    -fx-font-family: "Lexend Light";
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-color: #F44322;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#boutonSeConnecter:hover, #boutonAnnulerConnexion:hover{
    -fx-background-color: #FF0000;
}

#boutonInscription, #boutonMotDePasseOublie, #boutonAccueil{
    -fx-text-fill: #0118e1;
}

#boutonMotDePasseOublie:hover, #boutonAccueil:hover, #boutonInscription:hover{
    -fx-text-fill: #22636c;
}

#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}




