/*Fichier CSS
 Interface : Connexion
 FXML : VueConnexionTaillePetite */

*  {
    -fx-font-family: 'Lexend Light';
}

#titreConnexion {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#sousTitreLogo, #sousTitreLogo2 {
    -fx-font-family: "Lexend Deca SemiBold";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

#copyrightMention, #filConnexion{
    -fx-font-family: "Lexend Light";
    -fx-font-size: 12px;
}

#boutonSeConnecter,  #boutonAnnulerConnexion, #entreeCourriel, #motDePasseCache, #motDePasseRevele, #boutonInscription, #boutonMotDePasseOublie, #boutonAccueil,#texteGeneral1, #texteGeneral2  {
    -fx-font-family:"Lexend Light";
    -fx-font-size: 7px;
}
#boutonAnnulerConnexion{
    -fx-background-color:  #94dae5;
}



#boutonAnnulerConnexion:hover{
    -fx-background-color: rgba(148, 218, 229, 0.59);
}

#boutonSeConnecter{
    -fx-background-color: #424242;
}

#boutonSeConnecter,  #boutonAnnulerConnexion{
    -fx-font-family: "Lexend Light";
    -fx-font-weight: bold;
}

#boutonSeConnecter:hover{
    -fx-background-color: rgba(66, 66, 66, 0.57);
}

#boutonMotDePasseOublie:hover, #boutonAccueil:hover, #boutonInscription:hover{
    -fx-text-fill: #22636c;
}

#filConnexion:hover {
    -fx-text-fill: black;
    -fx-cursor: HAND;
}




